body {
  background-image: url("../img/Hip\ Hop\ BG.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}
.container {
  width: 90%;
  height: 90%;
  position: absolute;
  background-color: transparent;
}
.tv-box {
  z-index: 5;
  position: inherit;

  width: 900px;
  height: 550px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}
/* https://codepen.io/ricksinclair/pen/qJLBvz
    originally from https://codepen.io/gerbata/pen/jBaggE
*/
.outline {
  display: inline-block;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  background-color: grey;
  height: 50px;
  margin: none;
  padding: none;
}

.video-container {
  z-index: -2;
  position: fixed;
  top: 50%;
  left: 45%;
  width: 845px;
  height: 550px;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  background-color: black;
}

#video-element {
  position: relative;
  left: 5%;
  bottom: 2%;
  height: 105%;
  height: 550px;
  width: 875px;
}
.game-container {
  z-index: 6;
  position: relative;
  bottom: 50%;
  left: 50%;
  width: 980px;
  height: 550px;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  background-color: red;
}
.game-space {
  z-index: 6;
  position: inherit;
  left: 9%;
  bottom: 18%;
  width: 600px;
  height: 380px;
  background-size: cover;
  background-color: transparent;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
